body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFAEC; 
    color: #333;
}

.container {
    margin-top: 20px;
}

.sidebar {
    background-color: #578E7E;
    color:rgb(10, 10, 10);
    padding: 20px;
    box-shadow: 2px 0 5px rgb(147, 165, 99);
}

.sidebar h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #578E7E;
}

.content {
    padding: 20px;
    background-color: #F5ECD5;
}