body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4a4a4a; 
    color: #333;
}

.container {
    margin-top: 20px;
    display: grid;
    justify-content: center;
}

.sidebar {
    background-color: #ff6d1f;
    color:rgb(10, 10, 10);
    padding: 20px;
    margin-right: 20px;
    box-shadow: 2px 0 5px rgb(182, 85, 33);
}

.sidebar h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #578E7E;
}

.content {
    
    padding: 20px;
    background-color: #e0e0e0;
}

#posts {
    background-color: #ff6d1f;
}

#posts .list-group-item {
    background-color: #ffffff; /* Set background color to white */
    margin-bottom: 10px; /* Add separation between items */
    border: 1px solid #ddd; /* Add a border to the items */
}

#posts .list-group-item.active {
    background-color: #ffffff; /* Ensure active items also have a white background */
    border-color: #ddd; /* Ensure active items have the same border color */
}

.carousel {
    margin-top: 60px;
}

.btn-custom {
    background-color: #ff6d1f;
    color: white;
    border: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}

.post-row > div > div {
    background-color: #ffffff;
    
}